@import '../../../style/variables';


.contentTypeFilter {
  height: 40px;
  min-width: 176px;
  border: #4F5757 solid 1px;
  border-radius: 1px;
  display: flex;
  justify-content: space-between;
  padding: 11px 14px 0 24px;
  font-family: $regularFont;
  font-size: 13px;
  box-sizing: border-box;
  margin-right: 32px;
}