@import '../../../style/variables';



.chartSection {
  margin-bottom: 64px;
  height: 464px;
  background-color: white;
  max-width: 960px;
  width: 100%;

  .title {
    height: 64px;
    width: 100%;
  }

  .legend {
    height: 64px;
    width: 100%
  }

  .chartDiv {
    background-color: #4F5757;
    width: 96.7%;
    margin: auto;
    min-width: 752px;
    height: 304px;
    position: relative;

    .xAxisAbsoluteContainer {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;

      .xAxis {
        width: 86.4%;
        height: 90%;
        margin: auto;
        display: flex;
        justify-content: space-between;

        .xGridPosition {
          position: relative;
          height: 100%;
          width: 3px;

          .xGrid {
            position: absolute;
            height: 100%;
            width: 2px;
            background-color: lightgrey;
          }

          .xGridNumber {
            padding-left: 8px;
            font-size: 10px;
            color: lightgrey;
            font-family: $regularFont;
          }
        }
      }
    }

    .barContainer {
      position: absolute;
      top: 20%;
      height: 71%;
      width: 86.1%;
      margin-left: 6.9%;
      display: flex;
      flex-direction: column;

      .bar {
        height: 10px;
        display: flex;

        .barSection {
          height: 100%;
        }
      }
    }
  }
}