@import '../../style/variables';

body {
  margin: 0;
}

.appContainer {
  display: flex;
  flex-direction: column;
  position: relative;

  .header {
    width: 100%;
    height: 112px;
    background-color: white;
    display: flex;
    justify-content: center;
    box-sizing: border-box;

    .widthContainer {
      width: 100%;
      height: 81px;
      max-width: 960px;
      padding-right: 14px;
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      .participationLogo {
        width: 140px;
        cursor: pointer;
        margin-bottom: 9px;
      }

      .crossrefLogo {
        width: 96px;
      }

    }  @media(max-width: 960px) {
      .widthContainer {
        padding-left: 14px;
      }
    }
  }

  .footer {
    background-color: #4f5858;
    height: 32px;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;

    .widthContainer {
      height: 100%;
      max-width: 960px;
      width: 100%;
      box-sizing: border-box;
      padding: 8px 0 0 0;
      position: relative;
      display: flex;

      p {
        color: white;
        font-family: $regularFont;
        font-size: 12px;
        margin: 0;
      }

      .license {
        a:link {
          text-decoration: none;
          color: white
        }
        a:visited {
          color: white
        }
        a:hover {
          color: #fbc52d
        }
      }

      .privacy {
        position: absolute;
        right: 0px;
        top: 8px;

        a:link {
          color: white;
          text-decoration: none;
        }
        a:visited {
          color: white
        }
        a:hover {
          color: #fbc52d
        }
      } @media (max-width: 700px) {
        .privacy {
          top: 17px;
        }
      }  @media (max-width: 992px) {
        .privacy {
          right: 16px;
        }
      }

      .crossref {
        margin-right: 17.5px;

        a:link {
          color: white
        }
        a:visited {
          color: white
        }
        a:hover {
          color: #fbc52d
        }

      } @media (max-width: 700px) {
        .crossref {
          margin-top: 9px;
          margin-bottom: 19px;
        }
      }

    } @media (max-width: 700px) {
      .widthContainer {
        flex-direction: column;
      }
    }  @media (max-width: 992px) {
      .widthContainer {
        padding: 8px 16px 0 16px;
      }
    }

  } @media (max-width: 700px) {
    .footer {
      height: 96px
    }
  }
}