
%topStripe {
  width: 100%;
  height: 240px;
  display: flex;
  justify-content: center;


  .widthContainer {
    max-width: 960px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .topBar {
      height: 64px;
      width: 100%;
      background-color: #4F5757;
      display: flex;

      .button {
        flex: 1;
        height: 100%;
        max-width: 240px;
        color: white;
        font-size: 18px;
        font-family: $regularFont;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        a { color: white; text-decoration: none }
        a:visited { color: white }
      }
    }

    .contentBox {
      flex: 1;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      align-items: flex-end;
    }
  }
}



