@import '../../../style/variables';
@import '_rotateLoader.scss';

.checksSection {
  margin-top: 32px;
  margin-bottom: 48px;
  background-color: white;
  height: auto;
  max-width: 960px;
  width: 100%;

  .titleBar {
    height: 48px;
    width: 100%;
    background-color: #4F5757;
    padding-left: 32px;
    color: white;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-family: $regularFont;
    box-sizing: border-box;
  }

  .filters {
    min-height: 101px;
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0 32px 45px 32px;
    box-sizing: border-box;
    align-items: flex-end;
    position: relative;

    .filter {
      height: 40px;
      min-width: 192px;
      border: black solid 2px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      font-size: 13px;
      font-family: $regularFont;
    }

    .publicationFilter {
      max-width: 448px;
      width: 100%;
      margin-left: 16px;
      margin-right: 16px;
    }

    .inactivePublicationFilter {
      pointer-events: none;
      border: #a1a1a1 solid 2px;
      color: #a1a1a1;
    }

    .titleFilterActive {
      display: flex;
      justify-content: space-between;
      padding: 0 13px 0 16px;

      .titleFilterText {
        max-width: 360px;
        max-height: 30px;
        overflow: hidden;
        white-space:nowrap;
        text-overflow: ellipsis;
      }
      @media (max-width: 866px) {
        .titleFilterText {
          max-width: 330px;
        }
      }
      @media (max-width: 840px) {
        .titleFilterText {
          max-width: 260px;
        }
      }


      .titleFilterX {
        width: 20px;
        height: 20px;
        cursor: pointer;
        margin-left: 5px;
      }
    }

    .timeFilterContainer {
      .timeFilter {

      }
    }

    .inactiveTimeFilter {
      pointer-events: none;
      border: #a1a1a1 solid 2px;
      color: #a1a1a1;
    }


  } @media (max-width: 767px) {
    .filters {
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      height: 184px;
      padding: 16px 0 0 0;
      margin-bottom: 46px;


      .publicationFilter {
        width: 256px;
        margin-left: 0;
        margin-right: 0;
      }

      .timeFilterContainer {
        flex: none;

        .timeFilter {
          width: 256px;
        }
      }
    }
  }

  .checksWidthContainer {
    display: flex;
    justify-content: center;
    position: relative;

    .loadThrobber {
      @extend %rotateLoader
    }

    .pleaseWait {
      font-family: $regularFont;
    }

    .checksContainer {
      height: auto;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      margin-bottom: -21px;

    } @media (max-width: 960px) {
      .checksContainer {
        width: 704px
      }
    } @media (max-width: 704px) {
      .checksContainer {
        width: 352px
      }
    }
  }
}
