@import '../../../style/variables';


.filters {


  .checksFilter {
    height: 40px;
    min-width: 176px;
    border: #4F5757 solid 2px;
    border-radius: 1px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 14px 0 12px;
    font-family: $regularFont;
    font-size: 13px;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
    outline: none;

    .filterList {
      position: absolute;
      height: auto;
      width: 208px;
      top: 60px;
      left: -20px;
      border: 1px solid #4F5757;
      background-color: white;
      box-sizing: border-box;
      padding: 10px 0 5px 0;
      z-index: 3;
      box-shadow: 0px 3px 3px 1px #8e8a8a;

      .filterButton {
        width: 100%;
        display: flex;
        height: 25px;
        cursor: pointer;

        .checkmark {
          width: 32px;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .buttonText {
          font-size: 13px;
          display: flex;
          align-items: center;
        }
      } .filterButton:hover {
          .buttonText {
            color: #3EB1CB;
          }
        }
    }

    .filterList:after {
      content: '';
      position: absolute;
      top: -10px;
      left: 91px;
      width: 0;
      height: 0;
      border: 13.5px solid white;
      transform: rotate(135deg);
    }

    .filterList:before {
      content: '';
      position: absolute;
      top: -12px;
      left: 93px;
      width: 0;
      height: 0;
      border-left: 11.5px solid #4F5757;
      border-bottom: 11.5px solid #4F5757;
      border-top: 11.5px solid transparent;
      border-right: 11.5px solid transparent;
      box-shadow: 0px 0px 3px 0px #8e8a8a;
      transform: rotate(135deg);
    }



  } @media (max-width: 767px) {
    .checksFilter {
      width: 256px;
      margin-right: 0;

      .filterList {
        width: 256px;
        left: -2px;
      }

      .filterList:after {
        left: 117px
      }

      .filterList:before {
        left: 116px
      }
    }

  }

  .inactiveFilter {
    pointer-events: none;
    border: #a1a1a1 solid 2px;
    color: #a1a1a1;
  }
}
