
.publisherContent {
  .tutorialOverlay {
    position: absolute;
    right: 0; top: 0; left: 0; bottom: 0;
    padding-top: 80px;
    z-index: 11;

    .tutorialBackground {
      position: absolute;
      right: 0; top: 0; left: 0; bottom: 0;
      background-color: black;
      opacity: .7;
    }

    .tutorialText {
      color: white;
      font-size: 16px;
    }

    .contentFilterTutorial {
      position: absolute;
      left: 23.5px; top: 50px;
      width: 223px;

      img {
        margin-left: 100px;
        transform: rotate(-18deg)
      }
    }

    .titleSearchTutorial {
      position: absolute;
      left: 15%; top: 50px;
      width: 80%;

      img {
        margin-left: 40%;
      }
    }

    .dateFilterTutorial {
      position: absolute;
      left: 0; top: 50px;
      width: 222px;

      img {
        margin-left: 60px;
        transform: rotate(18deg)
      }
    }
  }
}