@import '../../../style/variables';


.landingPage {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .topStripe {
    background-image: url("images/PR_Banner_1.png");
    height: 368px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .searchContainer {
      width: 96%;
      max-width: 768px;
      background-color: #4F5757;
      height: 112px;
      box-sizing: border-box;
      padding-bottom: 16px;

      .searchTitle {
        margin: 11.5px 0 10.5px 4%;
        color: white;
        font-family: $regularFont;
        font-size: 20px;
        position: relative;

        .bannerText {
          position: absolute;
          bottom: 65px;
          margin: 0;
          color: black;
          font-size: 22px;
          font-family: $regularFont;
        }

      } @media (max-width: 480px) {
        .searchTitle {
          margin: 11.5px 0 10.5px 2%;
        }
      }
    } @media (max-width: 768px) {
      .searchContainer {
        max-width: 736px;
      }
    } @media (max-width: 480px) {
      .searchContainer {
        max-width: 461px;
        width: 100%;
      }
    }

  }

  .content {
    min-height: 608px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;

    .greyBar {

      height:160px;
      width: 100%;
      box-sizing: border-box;
      margin-top: 48px;
      margin-bottom: 48px;
      background-color: #E5E5E5;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      padding: 0 30px 16px 30px;

      img {
        margin-right: 30px;
        margin-top: 32px;
      }

      .greyBarContent {
        color: #4F5757;
        height: 100%;

        .headlineTextHolder {
          display: flex;
          align-items: flex-start;
          max-width: 400px;
          width: 100%;
          flex-direction: column;
          margin-top: 30px;
          justify-content: center;
          min-height: 45px;

          .smallText {
            margin: 0;
            font-size: 18px;
            font-family: $regularFont;
          }
          .bigText {
            margin: 0;
            font-family: $regularFont;
            font-size: 24px;
            line-height: 23px;
          }
        }

        .button {
          height: 48px;
          width: 224px;
          background-color: white;
          justify-content: center;
          display: flex;
          align-items: center;
          margin-top: 21.5px;
          font-family: $regularFont;
          cursor: pointer;
        }
      }

      @media (max-width: 700px) {
        .greyBarContent {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
        }
        .smallText {
          display: none;
        }

        img {
          display: none;
        }
      }
    }

    .testimonialContainer {
      display: flex;
      flex-direction: row;
      box-sizing: border-box;
      padding: 0 20px;
      width: 100%;
      max-width: 768px;
      justify-content: space-between;
      flex-wrap: wrap;
      padding-bottom: 122px;

      .testimonial {
        width: 210px;

        .testimonialBody {
          margin: 0;
          font-family: $regularFont;
          font-size: 14px;
        }

        .testimonialAuthor {
          margin: 17px 0 28px 0;
          font-family: $regularFont;
          font-size: 12px;
        }
      }
    }

    @media (max-width: 700px) {
      .testimonialContainer {
        flex-direction: column;
        align-items: center;
      }
    }

  }
}
